In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [47]:
data = pd.read_csv(r'D:\Project_Room\Data\Customers.csv')
print(f'{data.head()}\n')
print(f'{data.dtypes}\n')
print(data.isnull().sum())

   customer_id   full_name               email        phone  \
0            1  Customer 1  customer1@mail.com  84987769332
1            2  Customer 2  customer2@mail.com  84995781527
2            3  Customer 3  customer3@mail.com  84969411145
3            4  Customer 4  customer4@mail.com  84917802932
4            5  Customer 5  customer5@mail.com  84992266036

                   created_at
0  2023-08-08 03:27:22.206023
1  2023-11-11 03:27:22.206033
2  2023-10-07 03:27:22.206035
3  2023-08-05 03:27:22.206037
4  2024-06-02 03:27:22.206039

customer_id     int64
full_name      object
email          object
phone           int64
created_at     object
dtype: object

customer_id    0
full_name      0
email          0
phone          0
created_at     0
dtype: int64

In [16]:
data['created_at'] = pd.to_datetime(data['created_at'])

In [25]:
room = pd.read_csv(r"D:\Project_Room\Data\Rooms.csv")
print(f'{room.head()}\n')
print(f'{room.isnull().sum()}\n')
print(room.dtypes)

   room_id room_number room_type  price_per_night     status
0        1        R101  Standard               78  Available
1        2        R102     Suite               55     Booked
2        3        R103    Deluxe              461  Available
3        4        R104    Deluxe              184     Booked
4        5        R105     Suite               88  Available

room_id            0
room_number        0
room_type          0
price_per_night    0
status             0
dtype: int64

room_id             int64
room_number        object
room_type          object
price_per_night     int64
status             object
dtype: object

In [27]:
booking = pd.read_csv("D:\Project_Room\Data\Bookings.csv")
print(f'{booking.head()}\n')
print(f'{booking.isnull().sum()}\n')
print(booking.dtypes)

   booking_id  customer_id  room_id    check_in   check_out     status  \
0           1          198      165  2023-12-26  2024-01-02  Cancelled
1           2          466       32  2023-09-02  2023-09-12    Pending
2           3          131       15  2024-06-03  2024-06-07    Pending
3           4          138       17  2023-05-26  2023-05-30  Cancelled
4           5           50      178  2024-04-19  2024-04-28  Confirmed

   created_at
0  2023-12-26
1  2023-09-02
2  2024-06-03
3  2023-05-26
4  2024-04-19

booking_id     0
customer_id    0
room_id        0
check_in       0
check_out      0
status         0
created_at     0
dtype: int64

booking_id      int64
customer_id     int64
room_id         int64
check_in       object
check_out      object
status         object
created_at     object
dtype: object

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_24264\3545600592.py:1: SyntaxWarning: invalid escape sequence '\P'
  booking = pd.read_csv("D:\Project_Room\Data\Bookings.csv")

In [29]:
booking['check_in'] = pd.to_datetime(booking['check_in'])
booking['check_out'] = pd.to_datetime(booking['check_out'])
booking['created_at'] = pd.to_datetime(booking['created_at'])

In [40]:
booking.dtypes

booking_id              int64
customer_id             int64
room_id                 int64
check_in       datetime64[ns]
check_out      datetime64[ns]
status                 object
created_at     datetime64[ns]
dtype: object

In [34]:
Payments = pd.read_csv("D:\Project_Room\Data\Payment.csv")
print(f'{Payments.head()}\n')
print(f'{Payments.dtypes}\n')
print(Payments.isnull().sum())

   payment_id  booking_id  amount payment_method payment_date
0           1        1172    1858    Credit Card   2023-12-20
1           2        2311    1275         PayPal   2024-05-23
2           3         651     216  Bank Transfer   2023-11-28
3           4        3016    1407         Crypto   2024-12-28
4           5        3516    1961         PayPal   2023-03-11

payment_id         int64
booking_id         int64
amount             int64
payment_method    object
payment_date      object
dtype: object

payment_id        0
booking_id        0
amount            0
payment_method    0
payment_date      0
dtype: int64

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_24264\2704592477.py:1: SyntaxWarning: invalid escape sequence '\P'
  Payments = pd.read_csv("D:\Project_Room\Data\Payment.csv")

In [35]:
Payments['payment_date'] = pd.to_datetime(Payments['payment_date'])

In [36]:
Service = pd.read_csv(r"D:\Project_Room\Data\Services.csv")
print(f'{Service.head()}\n')
print(f'{Service.dtypes}\n')
print(Service.isnull().sum())

   service_id    service_name  price
0           1       Breakfast    112
1           2         Laundry     82
2           3             Spa    130
3           4             Gym     23
4           5  Airport Pickup    124

service_id       int64
service_name    object
price            int64
dtype: object

service_id      0
service_name    0
price           0
dtype: int64

In [37]:
Service_Usage = pd.read_csv(r"D:\Project_Room\Data\Servide_Usage.csv")
print(f'{Service_Usage.head()}\n')
print(f'{Service_Usage.dtypes}\n')
print(Service_Usage.isnull().sum())

   usage_id  booking_id  service_id  quantity  total_price
0         1        4536           8         5          480
1         2        4689           9         2          212
2         3        4754           8         1           96
3         4        3544           3         3          390
4         5        3790           6         3           81

usage_id       int64
booking_id     int64
service_id     int64
quantity       int64
total_price    int64
dtype: object

usage_id       0
booking_id     0
service_id     0
quantity       0
total_price    0
dtype: int64

In [ ]:
server = 'LAPTOP-8C8LM3ED'
database = 'MY_PROJECT'

engine = create_engine(f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes')

# Đẩy dữ liệu vào SQL Server
data.to_sql('Customer', con=engine, if_exists='append', index=False)
room.to_sql('Room', con=engine, if_exists='append', index=False)
booking.to_sql('Booking', con=engine, if_exists='append', index=False)
Payments.to_sql('Payments', con=engine, if_exists='append', index=False)
Service.to_sql('Service', con=engine, if_exists='append', index=False)
Service_Usage.to_sql('Services_Usage', con=engine, if_exists='append', index=False)

296